ipykernel
librosa
mat73
matplotlib
moviepy
nicegui
numpy
openpyxl
pandas
pingouin
scikit-posthocs
seaborn
statsmodels
sounddevice
soundfile
pyyaml
pyinstaller
git+https://github.com/MightyBerdau/completely_overengineered_plot_toolbox.git